.tab {
  background-color: #161932;
  border-radius: 100vmax;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: var(--font);

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vmax;
    font-weight: bold;
    color: #d7e0ff;
  }
  .btn:hover {
    cursor: pointer;
  }

  .active {
    background-color: var(--color);
    color: #1e213f;
  }

  .inactive {
    opacity: 0.4;
  }
}

@media (min-width: 770px) {
  .tab {
    width: 380px;
    height: 63px;
    padding: 10px 7.5px;

    .btn {
      width: 120px;
      height: 48px;
      font-size: 14px;
    }
  }
}
@media (min-width: 400px) and (max-width: 769px) {
  .tab {
    width: 380px;
    height: 63px;
    padding: 10px 7.5px;

    .btn {
      width: 120px;
      height: 48px;
      font-size: 14px;
    }
  }
}
@media (max-width: 399px) {
  .tab {
    width: 330px;
    height: 63px;
    padding: 7.5px 7.5px;

    .btn {
      width: 105px;
      height: 48px;
      font-size: 12px;
    }
  }
}
