.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1e213f;

  .setting-component {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .setting-component.inactive {
    display: none;
  }

  .home-component.inactive {
    display: none;
  }
}
